@charset "utf-8";

/* 主框架样式（头部、菜单、主体工作区）*/
/*头部样式*/
div.header{min-width:940px;max-width:100%;margin: 0;	height: 45px;background: #7ab1d6;color: #fff;border: none; border-bottom:2px solid #ffffff;}/*必须要有边线内部div的margin-top样式才起作用*/



