@charset "UTF-8";

.page_path_container {
    overflow: auto;
    padding: 10px;
    border-radius: 0;
    /*border: 1px solid #e1e1e1;*/
    background: #FFF;
    font-size: 12px;
    min-height: 200px;
}

    .page_path_container .path_data table, .page_path_container .path_data table td {
        vertical-align: middle;
        background: #FFF;
    }

    .page_path_container .path_summary {
        width: 201px;
        font-size: 12px;
        line-height: 1.2em;
        position: relative;
    }

    .page_path_container .start {
        width: 179px;
        height: 126px;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        z-index: 3;
    }

        .page_path_container .start h5 {
            line-height: 26px;
            font-size: 14px;
            font-weight: 700;
            color: #fff;
            border: 1px solid #547eb3;
            text-align: center;
            text-shadow: 0 -1px 1px #456da1;
            background: url(../images/path.png) no-repeat;
        }

        .page_path_container .start .content {
            border: 1px solid #bdc7d4;
            background-color: #ecf4ff;
            color: #0f233d;
        }

        .page_path_container .start table {
            width: 100%;
        }

        .page_path_container .start td, .page_path_container .start th {
            height: 26px;
            padding: 0 5px;
        }

        .page_path_container .start th {
            font-weight: 700;
        }

        .page_path_container .start td {
            text-align: right;
        }

    .page_path_container .next {
        width: 232px;
        float:left;
    }

        .page_path_container .next li {
            width: 100%;
            height: 55px;
            float:left;
            
            vertical-align: middle;
            margin-bottom:10px;
            text-align:center;
        }
.margin-top-67 {
    margin-top:-66px;
}

.color-09C {
    background:#09C
}
    .page_path_container .path_title th {
        padding: 0 22px 10px 0;
        font-weight: 400;
        color: #253f60;
        text-align: center;
    }

        .page_path_container .path_title th strong {
            display: block;
            font-weight: 700;
        }

    .page_path_container .bg_left {
        width: 2px;
        height: 55px;
        float: left;
        background: #5688c8;
        border-width: 0 1px;
        border-style: solid;
        border-color: #2a64ae;
    }

    .page_path_container li:first-child .bg_left {
        border-top-width: 1px;
        height: 54px;
    }

    .page_path_container li.last .bg_left {
        border-bottom-width: 1px;
    }

    .page_path_container .box {
        float: right;
        width: 161px;
        height: 51px;
        border: 1px solid #a6c1e4;
        background: #c4deff;
        position: relative;
        left: 0px;
        color: #526884;
        cursor: pointer;
    }

    .page_path_container .current .box {
        color: #0f233d;
        
    }

    .page_path_container .box:hover {
        background-color: #9ec9ff;
    }

    .page_path_container h6, .page_path_container p {
        margin-left: 0px;
    }

    .page_path_container h6 {
        font-weight: 400;
        margin-top:10px;
    }

    .page_path_container p {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .page_path_container .bg_right {
        width: 20px;
        height:2px;
        border-style: solid;
        border-color: #5989c7;
        position: absolute;
        background: #5688c8;
        z-index: 2;
    }

    .page_path_container .path_summary .bg_right {
        top: 40%;
        right: -1px;
    }

    .page_path_container .next .bg_right {
        top: 13px;
        right: -1px;
        z-index: 2;
    }

    .page_path_container .next .current .bg_right {
        display: block;
    }

    .page_path_container .fav {
        width: 27px;
        height: 27px;
        line-height: 18px;
        position: absolute;
      
        top: -1px;
        left: -1px;
        color: #fff;
        display: none;
    }

        .page_path_container .fav i {
            margin: -1px 0 0 -1px;
        }

    .page_path_container li:hover .fav {
        display: block;
    }

    .mod_pathTips .title, .page_path_container .next_4 .current .bg_right, .page_path_container li.last:hover .fav, .page_source_tips .title {
        display: none;
    }

    .page_path_container li.last .bg_left {
        height: 34px;
    }

    .page_path_container .last .box {
        height: 32px;
        border-color: #d7c1b4;
        background-color: #faece3;
        color: #9b7f6f;
    }

        .page_path_container .last .box h6 {
            float: left;
        }

        .page_path_container .last .box p {
            float: right;
            padding-right: 5px;
        }

        .page_path_container .last .box h6, .page_path_container .last .box p {
            line-height: 32px;
        }

    .page_path_container .next_1 .current .box {
        border-color: #2a64ae;
        background-color: #5688c8;
    }

    .page_path_container .next_1 .bg_right, .page_path_container .next_2 .bg_left, .page_path_container .next_2 .current .box {
        border-color: #598ac9;
        background-color: #6ea2e4;
    }

    .page_path_container .next_2 .bg_right, .page_path_container .next_3 .bg_left, .page_path_container .next_3 .current .box {
        border-color: #6c97cd;
        background-color: #87b8f7;
    }

    .page_path_container .next_3 .bg_right, .page_path_container .next_4 .bg_left {
        border-color: #7d9dc7;
        background-color: #9ec1ee;
    }

.opposite .bg_right {
    background-position: 0 -53px;
}

.mod_pathTips {
    width: 180px;
    position: absolute;
    left: 400px;
    top: 500px;
    z-index: 100;
    padding: 10px;
    border: 1px solid #666;
    background: #fff;
    background: rgba(255,255,255,.9);
}

.page_source_tips .content {
    color: #76684c;
}

.mod_pathTips h4, .page_source_tips h4 {
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
    border-bottom: 1px solid #CCC;
}

.mod_pathTips dl, .page_source_tips dl {
    margin-top: 5px;
    overflow: hidden;
}

.mod_pathTips dt, .page_source_tips dt {
    float: left;
    clear: right;
    color: #666;
    padding-right: 30px;
}

.mod_pathTips dd, .page_source_tips dd {
    float: right;
    color: #333;
}

#div_table .sub_title {
    cursor: pointer;
}
